<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Wortsuche</mat-label>
    <input type="text"
           placeholder="Beispiel: &ldquo;Bundestag&rdquo;"
           aria-label="Test"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto"
           (keyup)="onInputChange($event)">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>


