.pie-slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /*border: green 3px solid;*/
}

.pie-slider {
  float:left
}

.pie-chart{
  /*border: blue 3px solid;*/
  height: 400px;
  width: 80%;
}

.labelBeforeSlide{
  padding: 5px;
}

.title{
  /*border: green 3px solid;*/
  font-weight: bold;
  font-size: x-large;
  padding-top: 11px;
}

.options-menu{
  /*border: blue 3px solid;*/
}

.container{
  border: pink 3px solid;
  display: flex;
  width: 100%;
  justify-content: center;
}

.date{
  /*border: red 3px solid;*/
  padding-top: 15px;
}

.button{
  padding-top: 25px;
}
