<div class="container">
  <div class="title">
    <label>Worthäufigkeit in ausgewählten Medien</label>
  </div>
</div>


<div class="container">
  <div class="button">
    <button mat-button [matMenuTriggerFor]="mediumMenu">Medium</button>
  </div>
  <div class=" date">
    <mat-form-field appearance="fill">
      <mat-label>Geben Sie den Datumsbereich an</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Start date" [value]="startDate" #startD>
        <input matEndDate placeholder="End date" [value]="endDate" #endD (dateChange)="updateDatepicker(startD, endD)">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </div>
</div>


<mat-menu #mediumMenu="matMenu">
  <mat-selection-list>
    <mat-list-option id="{{medium}}"
                     *ngFor="let medium of media"
                     (click)="$event.stopPropagation(); updateMediaToggle($event)">{{medium}}</mat-list-option>
  </mat-selection-list>
</mat-menu>


<div class="container">
  <div class="pie-chart">
    <ngx-charts-pie-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="results"
      [gradient]="gradient"
      [legend]="showLegend"
      [legendPosition]="legendPosition"
      [labels]="showLabels"
      [doughnut]="isDoughnut"
    >
    </ngx-charts-pie-chart>
  </div>
  <div class="options-menu">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item disabled>Filter für Wortarten</button>
      <button mat-menu-item *ngFor="let type of types" (click)="$event.stopPropagation()">
        <mat-slide-toggle id="{{type}}"
                          (click)="$event.stopPropagation()"
                          (change)="updateWordTypeToggle($event)">{{type}}</mat-slide-toggle>
      </button>
    </mat-menu>
  </div>
</div>


<div class="pie-slider-container">
  <div class="pie-slider">
    <label>Maximale Anzahl Wörter</label>
    <mat-slider thumbLabel min="1" max="100" step="1" [value]="maxWords"
                (valueChange)="onMaxWordSliderChange($event)"></mat-slider>
  </div>

  <div class="pie-slider">
    <label>Minimale Vorkommnisse</label>
    <mat-slider thumbLabel min="1" max="100" step="1" [value]="moreThan"
                (valueChange)="onMoreThanSliderChange($event)"></mat-slider>
  </div>
</div>
